# Corrections des zones 9xx

Source : Fichier généré par RERO avec les valeurs différents pour chaque chaine (zone, sous-zone et valeur)

But :  filtrer le contenu pour isoler les erreurs

Moyens : découper le fichier en 4 parties, 902, 932, 982 et 992

- Zone 902 : https://www.rero.ch/page.php?section=zone&pageid=90x
    - pas d'indicateurs (deux espaces vides après le chiffre, 9021 c'est Faux).
    - Sous-zones : a (obligatoire, contient que du texte) b c n (sensible à la case)
    - Valeurs admis
        - a : https://www.rero.ch/page.php?section=zone&pageid=902
        - si b (année en cours) : AAAA/MM
        - si c (moention du chapitre pour le tri) : chiffres avec point seulement

- zone 932 : https://www.rero.ch/page.php?section=zone&pageid=93x
    - pas d'indicateurs (deux espaces vides après le chiffre, 9321 c'est Faux).
    - Sous-zones : a (obligatoire)
    - Valeurs admis
        - a : valeurs multiples possibles (séparateur ","), contient lettres et chiffres seulement et doit commencer par des lettres (gevbaa, gevbge, gevbmu, gevcjb). Exemples : 
            - 32 a gevcjb481100
            - 932 a gevbge0050609, gevbge0050610


- zone 982 : https://www.rero.ch/page.php?section=zone&pageid=98x
    - pas d'indicateurs (deux espaces vides après le chiffre, 9821 c'est Faux).
    - Sous-zones : 2 (obligatoire, au début), a
    - Valeurs admis
        - 2 : https://www.rero.ch/page.php?section=zone&pageid=982

- zone 992 : https://www.rero.ch/page.php?section=zone&pageid=99x
    - pas d'indicateurs (deux espaces vides après le chiffre, 9921 c'est Faux).
    - Sous-zones : a x (obligatoirs)
    - Valeurs admis
        - a (cote) : chiffres, lettres et un seul tiret
    
## Traitement

1. répetition des informations sure les lignes du bas pour avoir un CSV complet
1. découpage de la zone pour isoler les 2 indicateurs
1. ajouter une colonne pour l'erreur (0/1)
1. ajouter une colonne pour le type d'erreur (codes [I1, I2, SZa, SZx, SZ2])
1. appliquer les conditions pour ajouter les valeurs d'erreur

Fichier final
```
zone | indicateur1 | indicateur2 | souszone | valeur | occurences | erreur | erreur_type
902	 	 	0	2	1
902	 	 	0	6	1
902	 	 	1	4	1
...
902	 	 	2	004/04	1
```

In [1]:
import pandas as pd
df = pd.read_csv('sample.txt', delimiter='\t', header=None, names=['zoneorig', 'souszone', 'valeur', 'occurences'],
                 dtype={'zoneorig' : str, 'souszone' : str, 'valeur' : str, 'occurences' : float})
df = df.fillna(method='ffill')
df

    zoneorig souszone                                valeur  occurences
0      902        NaN                                   NaN         NaN
1      902          0                                   NaN         NaN
2      902          0                                     2         1.0
3      902          0                                     6         1.0
4      902          1                                     6         1.0
5      902          1                                     4         1.0
6      902          1                                    55         1.0
7      902          1                                998/03         1.0
8      902          1                                998/07         1.0
9      902          1                                998/10         1.0
10     902          1                                999/09         1.0
11     902          2                                999/09         1.0
12     902          2                                004/04         1.0
13     902          2                                006/01         1.0
14     902          2                                006/11         2.0
15     902          2                                007/02         1.0
16     902          2                                007/10         1.0
17     902          2                           fondsdubois       479.0
18     902          2                          fondsduboisd         1.0
19     902          2                           fondsdunand       197.0
20     902          2                           fondskasser       240.0
21     902          2                       fondslivelihood       140.0
22     902          2                          fondsrappard        23.0
23     902          2                        fondssouvarine      3563.0
24     902          2                                    ss         1.0
25     902          2                                  t020         1.0
26     902          2                                  t120         1.0
27     902          2                                 thème         2.0
28     902          2                                     x         3.0
29     902          2                                    xx         3.0
..       ...      ...                                   ...         ...
970    992          x                             Zt 8339/9         1.0
971    992          x  [transféré sous la cote bfla 10109.]         1.0
972    992          x                         a/18/471654-3         1.0
973    992          x                            a/1974/143         1.0
974    992          x                              a/96/949         1.0
975    992          x                    be/vbge/d/2002/325         1.0
976    992          x                            beaux-arts         1.0
977    992          x                     bge/ulit/a/15/166         1.0
978    992          x                     bge/ulit/a/15/470         1.0
979    992          x                                bospub         4.0
980    992          x                            bospub1946         2.0
981    992          x                            bospub1947         1.0
982    992          x                            bospub1948         1.0
983    992          x                            bospub1949         2.0
984    992          x                            bospub1969         1.0
985    992          x                            bospub1997         1.0
986    992          x                            bospub2001        10.0
987    992          x                    ge/caeg/a/2008/148         1.0
988    992          x                    ge/caeg/a/2008/167         1.0
989    992          x                    ge/caeg/a/2008/168         1.0
990    992          x                    ge/caeg/a/2010/003         1.0
991    992          x                    ge/caeg/a/2010/004         1.0
992    992          x                  xge/ullja/a/2008/206         1.0
993    992          x                 y ge/ulfr/r/FLt 75272         1.0
994    992          x                     y ge/ulru/a/99/32         1.0
995    992          x                    y ge/ulru/d/00/415         1.0
996    992          x                    y ge/ulsa/a/09/270         1.0
997    992          x                                     ‬         1.0
998    992          z                                     ‬         1.0
999    992          z                                     2         3.0

[1000 rows x 4 columns]

In [2]:
df['zone'] = df['zoneorig'].str[0:3]
df['indicateur1'] = df['zoneorig'].str[3] 
df['indicateur2'] = df['zoneorig'].str[4] 
df

,zoneorig,souszone,valeur,occurences,zone,indicateur1,indicateur2
0,902,NaN,NaN,NaN,902,,
1,902,0,NaN,NaN,902,,
2,902,0,2,1.0,902,,
3,902,0,6,1.0,902,,
4,902,1,6,1.0,902,,
5,902,1,4,1.0,902,,
6,902,1,55,1.0,902,,
7,902,1,998/03,1.0,902,,
8,902,1,998/07,1.0,902,,
9,902,1,998/10,1.0,902,,
10,902,1,999/09,1.0,902,,
11,902,2,999/09,1.0,902,,
12,902,2,004/04,1.0,902,,
13,902,2,006/01,1.0,902,,
14,902,2,006/11,2.0,902,,
15,902,2,007/02,1.0,902,,
16,902,2,007/10,1.0,902,,
17,902,2,fondsdubois,479.0,902,,
18,902,2,fondsduboisd,1.0,902,,
19,902,2,fondsdunand,197.0,902,,
20,902,2,fondskasser,240.0,902,,
21,902,2,fondslivelihood,140.0,902,,
22,902,2,fondsrappard,23.0,902,,
23,902,2,fondssouvarine,3563.0,902,,
24,902,2,ss,1.0,902,,
25,902,2,t020,1.0,902,,
26,902,2,t120,1.0,902,,
27,902,2,thème,2.0,902,,
28,902,2,x,3.0,902,,
29,902,2,xx,3.0,902,,
...,...,...,...,...,...,...,...
970,992,x,Zt 8339/9,1.0,992,,
971,992,x,[transféré sous la cote bfla 10109.],1.0,992,,
972,992,x,a/18/471654-3,1.0,992,,
973,992,x,a/1974/143,1.0,992,,
974,992,x,a/96/949,1.0,992,,
975,992,x,be/vbge/d/2002/325,1.0,992,,
976,992,x,beaux-arts,1.0,992,,
977,992,x,bge/ulit/a/15/166,1.0,992,,
978,992,x,bge/ulit/a/15/470,1.0,992,,
979,992,x,bospub,4.0,992,,
980,992,x,bospub1946,2.0,992,,
981,992,x,bospub1947,1.0,992,,
982,992,x,bospub1948,1.0,992,,
983,992,x,bospub1949,2.0,992,,
984,992,x,bospub1969,1.0,992,,
985,992,x,bospub1997,1.0,992,,
986,992,x,bospub2001,10.0,992,,
987,992,x,ge/caeg/a/2008/148,1.0,992,,
988,992,x,ge/caeg/a/2008/167,1.0,992,,
989,992,x,ge/caeg/a/2008/168,1.0,992,,
990,992,x,ge/caeg/a/2010/003,1.0,992,,
991,992,x,ge/caeg/a/2010/004,1.0,992,,
992,992,x,xge/ullja/a/2008/206,1.0,992,,
993,992,x,y ge/ulfr/r/FLt 75272,1.0,992,,
994,992,x,y ge/ulru/a/99/32,1.0,992,,
995,992,x,y ge/ulru/d/00/415,1.0,992,,
996,992,x,y ge/ulsa/a/09/270,1.0,992,,
997,992,x,‬,1.0,992,,
998,992,z,‬,1.0,992,,
999,992,z,2,3.0,992,,

In [3]:
# comptage des lignes par zone
df['zone'].value_counts()

982    492
992    314
902    150
932     44
Name: zone, dtype: int64

In [4]:
#ajout des champs d'erreur
df['erreur_i1'] = 0
df['erreur_i2'] = 0
df['erreur_souszone'] = 0
df['erreur_valeur'] = 0

In [5]:
# erreurs communs : il ne doit pas y avoir d'indicateurs
df.loc[(df['indicateur1'] != ' '), 'erreur_i1'] = 1
df.loc[(df['indicateur2'] != ' '), 'erreur_i2'] = 1

In [6]:
df.loc[df['erreur_i1'] == 1]

,zoneorig,souszone,valeur,occurences,zone,indicateur1,indicateur2,erreur_i1,erreur_i2,erreur_souszone,erreur_valeur
147,9021,z,A Joyc 8*GLAS Thi cof,1.0,902,1,,1,0,0,0
148,9021,a,A Joyc 8*GLAS Thi cof,1.0,902,1,,1,0,0,0
149,9021,a,gedoc,1.0,902,1,,1,0,0,0
191,9321,a,gevbge0760258,1.0,932,1,,1,0,0,0
192,9321,a,gevbge0760258,1.0,932,1,,1,0,0,0
193,9321,a,gevcjb300821,1.0,932,1,,1,0,0,0
681,9822,x,ge/vbpu/a/97/755,1.0,982,2,,1,0,0,0
682,9822,2,ge/vbpu/a/97/755,1.0,982,2,,1,0,0,0
683,9822,2,cdu-geusst,1.0,982,2,,1,0,0,0
684,9822,a,cdu-geusst,1.0,982,2,,1,0,0,0
685,9822,a,528.9,1.0,982,2,,1,0,0,0

In [7]:
# 902
# Sous-zones : a (obligatoire, contient que du texte) b c n (sensible à la case)
df.loc[((df['zone'] == '902') & (df['souszone'] != 'a') & (df['souszone'] != 'b') & (df['souszone'] != 'c') & (df['souszone'] != 'n') & (df['souszone'].notnull())), 'erreur_souszone'] = 1

In [8]:
# Valeurs admis
#    a : https://www.rero.ch/page.php?section=zone&pageid=902
#    si b (année des nouvelles acquisitions) : AAAA/MM (AAAA >= 1998 & AAAA <> 2018)
#    si c (moention du chapitre pour le tri) : chiffres avec point seulement
mes902admis = ['airbau', 'airbie', 'aircla', 'airdup', 'airfer', 'airise', 'airlpe', 'airmdp', 'airmdpal', 'airuld', 'arch', 'baap', 'baas', 'cathor19', 'chaix', 'cinemed', 'deplem', 'doncollart', 'donomshim', 'elivgeheid', 'elivgeheds', 'elivgeucds', 'elivgeucmu', 'elivgeucmusem', 'elivgeufpe', 'elivgewcc', 'epergevbaa', 'epergewcc', 'fondsdubois', 'fondsdunand', 'fondscandaux', 'fondskasser', 'fondslivelihood', 'fondscortney', 'fondsrappard', 'fondssouvarine', 'frapin', 'fsantin', 'ge16', 'geaut', 'geav', 'gecaeg', 'gecjpja', 'gecjpj1', 'gecjpj2', 'gecjpj3', 'gecjpj5', 'gecjpj7', 'gecjpj8', 'gecjpj10', 'gecjpj12', 'gecjpj13', 'gecjpj14', 'gecjpj18', 'gecjpj23', 'gecjpj24', 'gecjpj25', 'gecjpj26', 'gecjpj27', 'gecjpj28', 'gecjpj29', 'gedoc', 'gefili', 'gefoha', 'gehead', 'geheds', 'geheid', 'geheg-', 'geiess', 'gelocalrecord', 'geprêt', 'gesesfkoenig', 'geubfd', 'geubib', 'geucdbf', 'geucds', 'geuceje', 'geuchr', 'geucig', 'geucmu', 'geucui', 'geuels', 'geueti', 'geufpe', 'geuieg', 'geuise', 'geul-l', 'geulal', 'geulan', 'geular', 'geulcf', 'geulch', 'geulco', 'geules', 'geulfr', 'geulgm', 'geulha', 'geulhg', 'geulit', 'geulja', 'geullc', 'geullg', 'geulmu', 'geulne', 'geulph', 'geulpo', 'geulro', 'geulru', 'geulsa', 'geumem', 'geusba', 'geuscr', 'geuses', 'geusob', 'geuspa', 'geussa', 'geussc', 'geussm', 'geussp', 'geusst', 'geuth-', 'gevbaa', 'gevbaaarchives', 'gevbibhodler', 'gevbmu', 'gevbmuthem', 'gevbge', 'gevbgedl', 'gevcjb', 'gevdochodler', 'gevdocmoos', 'geveth', 'gevfgalb', 'gevfim', 'gevfp', 'gevfpop', 'gevfpub', 'gevfrst', 'gevfseg', 'gevfvw', 'gevmad', 'gevmah', 'gevmar', 'gevmcd', 'gevmce', 'gevmci', 'gevmcn', 'gevmda', 'gevmhe', 'gevmhn', 'gevmhs', 'gevmla', 'gevmrt', 'gevmsec', 'gewcc-', 'glfbe', 'padmin', 'pubbos', 'pubcoe', 'pubhei', 'pubheid', 'pubiued', 'recatge01', 'recatge02', 'recatge03', 'recatge04', 'recatge05', 'recatheidcdu', 'recatheidejp', 'recatheidsdn', 'riv19', 'rivrest', 'silg', 'suitebge', 'tjg', 'tjg86', 'tpseg']
df.loc[((df['zone'] == '902') & (df['souszone'] == 'a')) & (~(df['valeur'].isin(mes902admis))), 'erreur_valeur'] = 1

In [9]:
df.loc[((df['zone'] == '902') & (df['souszone'] == 'b'))]['valeur'].value_counts()

Series([], Name: valeur, dtype: int64)

In [10]:
df.loc[((df['zone'] == '902') & (df['souszone'] == 'b')) & (df['valeur'].str.match('[0-9][0-9][0-9][0-9]\/[0-9][0-9]'))]

Empty DataFrame
Columns: [zoneorig, souszone, valeur, occurences, zone, indicateur1, indicateur2, erreur_i1, erreur_i2, erreur_souszone, erreur_valeur]
Index: []

In [11]:
# extraction des b
df['b_date'] = df['valeur'].str[0:4]
df['b_mois'] = df['valeur'].str[4:6]

In [12]:
# si b (année en cours) : AAAA/MM
# liste de valeurs (AAAA >= 1998 & AAAA <> 2018)
mesdates = ['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
mesmois = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
df.loc[((df['zone'] == '902') & (df['souszone'] == 'b')) & (~(df['b_date'].isin(mesdates))), 'erreur_valeur'] = 1
df.loc[((df['zone'] == '902') & (df['souszone'] == 'b')) & (~(df['b_mois'].isin(mesmois))), 'erreur_valeur'] = 1

In [13]:
# si c (moention du chapitre pour le tri) : chiffres avec point seulement [0-9]+{1-3} ou [0-9]+{1-3}\.[0-9]+{1-3}
df.loc[((df['zone'] == '902') & (df['souszone'] == 'c'))]['valeur'].value_counts()

Series([], Name: valeur, dtype: int64)

In [14]:
df.loc[((df['zone'] == '902') & (df['souszone'] == 'c') & (df['valeur'].str.contains('^([0-9]{1,3}|[0-9]{1,3}\.[0-9]{1,3})$', regex=True)))]

C:\Users\iriarte\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [zoneorig, souszone, valeur, occurences, zone, indicateur1, indicateur2, erreur_i1, erreur_i2, erreur_souszone, erreur_valeur, b_date, b_mois]
Index: []

In [15]:
df.loc[((df['zone'] == '902') & (df['souszone'] == 'c')), 'erreur_valeur'] = 1
df.loc[((df['zone'] == '902') & (df['souszone'] == 'c') & (df['valeur'].str.contains('^([0-9]{1,3}|[0-9]{1,3}\.[0-9]{1,3})$', regex=True))), 'erreur_valeur'] = 0

C:\Users\iriarte\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [16]:
# supprimer les colonnes calculées
del df['b_date']
del df['b_mois']

In [17]:
# check des erreurs
df.loc[(df['zone'] == '902') & (df['souszone'] == 'c') & (df['erreur_valeur'] == 1)]

Empty DataFrame
Columns: [zoneorig, souszone, valeur, occurences, zone, indicateur1, indicateur2, erreur_i1, erreur_i2, erreur_souszone, erreur_valeur]
Index: []

In [18]:
# 932    Valeurs admis
#        a : valeurs multiples possibles (séparateur ","), 

# test de souszones
df.loc[df['zone'] == '932']['souszone'].value_counts()

a    41
x     3
Name: souszone, dtype: int64

In [19]:
# seulement a est admis
df.loc[((df['zone'] == '932') & (df['souszone'] != 'a')), 'erreur_souszone'] = 1

In [20]:
# test de valeurs multiples
df.loc[(df['zone'] == '932') & (df['valeur'].str.contains(', '))]

Empty DataFrame
Columns: [zoneorig, souszone, valeur, occurences, zone, indicateur1, indicateur2, erreur_i1, erreur_i2, erreur_souszone, erreur_valeur]
Index: []

In [21]:
#  contient lettres et chiffres seulement et doit commencer par des lettres (gevbaa, gevbge, gevbmu, gevcjb).
#  Exemples : 932 a gevcjb481100 ; 932 a gevbge0050609, gevbge0050610
df.loc[((df['zone'] == '932') & (df['souszone'] == 'a') & (df['valeur'].str.contains('^gev(baa|bge|bmu|cjb)[0-9]+$', regex=True)))]

C:\Users\iriarte\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

,zoneorig,souszone,valeur,occurences,zone,indicateur1,indicateur2,erreur_i1,erreur_i2,erreur_souszone,erreur_valeur
176,932,a,gevcjb481096,1.0,932,,,0,0,0,0
177,932,a,gevcjb481098,1.0,932,,,0,0,0,0
178,932,a,gevcjb481100,1.0,932,,,0,0,0,0
189,932 0,a,gevbaa060261,1.0,932,,0,0,1,0,0
190,932 0,a,gevbge0760258,1.0,932,,0,0,1,0,0
191,9321,a,gevbge0760258,1.0,932,1,,1,0,0,0
192,9321,a,gevbge0760258,1.0,932,1,,1,0,0,0
193,9321,a,gevcjb300821,1.0,932,1,,1,0,0,0

In [22]:
df.loc[((df['zone'] == '932') & (df['souszone'] == 'a')), 'erreur_valeur'] = 1
df.loc[((df['zone'] == '932') & (df['souszone'] == 'a') & (df['valeur'].str.contains('^gev(baa|bge|bmu|cjb)[0-9]+$', regex=True))), 'erreur_valeur'] = 0

C:\Users\iriarte\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [23]:
# exclure par défaut les lignes avec valeurs multiple
df.loc[((df['zone'] == '932') & (df['souszone'] == 'a') & (df['valeur'].str.contains(', ', regex=False))), 'erreur_valeur'] = 0

In [24]:
df_mv = df.loc[((df['zone'] == '932') & (df['souszone'] == 'a') & (df['valeur'].str.contains(', ', regex=False)))]

In [25]:
# boucle sur les lignes et sur les valeurs de la liste
df_mv['valeurt'] = df_mv['valeur'].str.split(', ')
import re
for index, row in df_mv.iterrows():
    for i in range(len(row['valeurt'])):
        print(index, i, row['valeurt'][i], row['erreur_valeur'])
        if (re.search(r'^gev(baa|bge|bmu|cjb)[0-9]+$', row['valeurt'][i])):
            print ('OK')
        else:
            print ('FAUX')
            df_mv.loc[index, 'erreur_valeur'] = 1
            df.loc[index, 'erreur_valeur'] = 1

In [26]:
# check des erreurs
df.loc[(df['zone'] == '932') & (df['souszone'] == 'a') & (df['erreur_valeur'] == 1)]

,zoneorig,souszone,valeur,occurences,zone,indicateur1,indicateur2,erreur_i1,erreur_i2,erreur_souszone,erreur_valeur
150,932,a,gedoc,1.0,932,,,0,0,0,1
151,932,a,gedoc,1.0,932,,,0,0,0,1
152,932,a,0705321,1.0,932,,,0,0,0,1
153,932,a,1064024494,1.0,932,,,0,0,0,1
154,932,a,1064030131,1.0,932,,,0,0,0,1
155,932,a,1064038756,1.0,932,,,0,0,0,1
156,932,a,1064048279,1.0,932,,,0,0,0,1
157,932,a,1064078845,1.0,932,,,0,0,0,1
158,932,a,1064093839,1.0,932,,,0,0,0,1
159,932,a,1064111378,1.0,932,,,0,0,0,1
160,932,a,1064126637,1.0,932,,,0,0,0,1
161,932,a,BGECIG_CG/38g_02.jpg,1.0,932,,,0,0,0,1
162,932,a,BGECIG_CG/38g_04.jpg,1.0,932,,,0,0,0,1
163,932,a,BGECIG_CG/38g_06_a.jpg,1.0,932,,,0,0,0,1
164,932,a,BGECIG_CG/38g_08.jpg,1.0,932,,,0,0,0,1
165,932,a,BGECIG_CG/38g_08_02.jpg,1.0,932,,,0,0,0,1
166,932,a,BGECIG_CG/38g_08_a.jpg,1.0,932,,,0,0,0,1
167,932,a,BGECIG_CG/38g_08_b.jpg,1.0,932,,,0,0,0,1
168,932,a,BGECIG_CG/38g_08_ww.jpg,1.0,932,,,0,0,0,1
169,932,a,BGECIG_CG/38g_09_03.jpg,1.0,932,,,0,0,0,1
170,932,a,BGECIG_CG/38g_09_04.jpg,1.0,932,,,0,0,0,1
171,932,a,BGECIG_CG/38g_09_2-2.jpg,1.0,932,,,0,0,0,1
172,932,a,BGECIG_CG/38g_09_2-3.jpg,1.0,932,,,0,0,0,1
173,932,a,BGECIG_CG/38g_09_2.jpg,1.0,932,,,0,0,0,1
174,932,a,BGECIG_CG/38g_09_5-2.jpg,1.0,932,,,0,0,0,1
175,932,a,BGECIG_CG/38g_09_5-3.jpg,1.0,932,,,0,0,0,1
179,932,a,képszám,2.0,932,,,0,0,0,1
180,932,a,memoires servir l'histoire cardinal 1753,1.0,932,,,0,0,0,1
181,932,a,necfbv,2.0,932,,,0,0,0,1
182,932,a,recatge04,1.0,932,,,0,0,0,1
183,932,a,recatge05,1.0,932,,,0,0,0,1
184,932,a,vgevbaa130098,1.0,932,,,0,0,0,1
188,932 0,a,ge/vbmu/a/95/20,1.0,932,,0,0,1,0,1

In [27]:
# zone 982 : https://www.rero.ch/page.php?section=zone&pageid=98x
#    pas d'indicateurs (deux espaces vides après le chiffre, 9821 c'est Faux).
#    Sous-zones : 2 (obligatoire, au début), a

# test de souszones
df.loc[df['zone'] == '982']['souszone'].value_counts()

d    177
2    102
e     94
a     82
x     17
c      7
b      5
j      2
A      2
f      2
s      2
Name: souszone, dtype: int64

In [28]:
# seulement a est admis
df.loc[((df['zone'] == '982') & (df['souszone'] != 'a') & (df['souszone'] != '2')), 'erreur_souszone'] = 1

In [29]:
# test de valeurs en $2
df.loc[((df['zone'] == '982') & (df['souszone'] == '2'))]['valeur'].value_counts()

BAA AA F 48/64                1
HEIBR 2009                    1
pscm                          1
025.32 ASSf fre               1
519.5 RAB                     1
cdu-sys-geufpe                1
cdu geussc                    1
ams-geusssm                   1
cdu geulja                    1
Af LIB per gdl                1
cdu--geuieg                   1
vs-part                       1
959 HEIA 82039                1
398.2 BET                     1
DEW-MEUM                      1
9/T*VIL SAN                   1
GE-ULCH                       1
wccsh                         1
BE 119 (4)                    1
cdu-sys-geuscc                1
Db D lan ris                  1
HEIBR 301+1                   1
cdu-sys-geussa                1
nlm-geuhim BJ 1-2195 APP      1
EG:Coll*PTT                   1
pcdm 3.35 PERG                1
piaget                        1
nlm-geucmu                    1
VI 2 Fa BONI                  1
530.1 LEO                     1
                             ..
cdu-sys-geusc                 1
004.678 COL                   1
1.8*GOI OTH                   1
7606.1                        1
Ai por lrd                    1
pcdm                          1
I.2.4 HAM                     1
005.2 BOU                     1
CDU-SYS-GEUIEG                1
twse                          1
EG:Coll*OIP Excav. Medinet    1
005.133 LAT MAGa              1
005.2 ESP                     1
650.1 MONb                    1
Af MAN and mei                1
959                           1
EG:Coll*PPYE 5                1
658.406 GOV                   1
cdu-sys-geueig                1
gevcjb300821                  1
519.5 HUC                     1
Hf 1 I BARB lib nqt           1
EG:Coll*MIFAO 80              1
369 MAR                       1
CDU-GEUIEG                    1
CA/D 67 g BROX 2010           1
EG:Coll*OIP Khonsu            1
cdiu-geufpe                   1
EG:Coll*MIFAO 79              1
020.14 COM                    1
Name: valeur, Length: 102, dtype: int64

In [30]:
#    Valeurs admis en $2 : https://www.rero.ch/page.php?section=zone&pageid=982
mes982admis = ['acm-geucui', 'air', 'ams-geussm', 'cdu-fili', 'cdu-geheds', 'cdu-gehei', 'cdu-geufpe', 'cdu-geuieg', 'cdu-geul-l', 'cdu-geulco', 'cdu-geulja', 'cdu-geussc', 'cdu-geusst', 'cdu-geuth', 'cdu-geuth-g', 'cdu-gevcjb', 'cdu-gevmhs', 'cdu-head', 'cdu-iued', 'cdu-sys-gehei', 'cdu-sys-geuieg', 'cdu-sys-geussc', 'dew-geheg-', 'dew-geies', 'dew-geubib', 'dew-geuise', 'dew-geulcf', 'dew-geuscr', 'dew-geuses', 'dew-gevbaa', 'dew-gevbge', 'dew-gewcc', 'dew-meum', 'dew-sys-geubib', 'dew-sys-geuscr', 'dr-art', 'dr-gecjpj', 'dr-geubfd', 'dr-sys-gecjpj', 'eti1', 'eti2', 'eurovoc-geuig', 'eurovoc-sys', 'fili-mc', 'fili-tl', 'ge-baap', 'ge-baav', 'ge-biba', 'ge-heid', 'ge-heid-nc', 'ge-ies-', 'ge-obs', 'ge-piag', 'ge-sys-ph', 'ge-ulal', 'ge-ulam', 'ge-ulan', 'ge-ular', 'ge-ulch', 'ge-ules', 'ge-ulfm', 'ge-ulfr', 'ge-ulgm', 'ge-ulha', 'ge-ulhg', 'ge-ulit', 'ge-ullc', 'ge-ullg', 'ge-ulmu', 'ge-ulph', 'ge-ulpo', 'ge-ulro', 'ge-ulru', 'ge-ulsa', 'ge-ulsh', 'ge-usob', 'ge-ussa', 'ge-ussm', 'ge-ussp', 'ge-usst', 'ge-vbaa', 'ge-vbge', 'ge-vimv', 'ge-vmhn', 'genava', 'genavr', 'hardt', 'head-artiste', 'head-voc', 'heid', 'iued', 'jv', 'meum', 'nb', 'nlm-geucds', 'nlm-geucmu', 'nlm-geuhim', 'pcdm', 'pcdm-sys', 'piaget', 'twse', 'wccsh']
df.loc[((df['zone'] == '982') & (df['souszone'] == '2')) & (~(df['valeur'].isin(mes982admis))), 'erreur_valeur'] = 1

In [31]:
# zone 992 : https://www.rero.ch/page.php?section=zone&pageid=99x
#     Sous-zones : $a $x (obligatoires)

# test de souszones
df.loc[df['zone'] == '992']['souszone'].value_counts()

x    158
p     58
a     42
t      8
2      7
b      6
1      6
c      5
I      4
l      3
9      3
3      2
q      2
V      2
v      2
F      2
X      2
z      2
Name: souszone, dtype: int64

In [32]:
# seulement a et x sont admis
df.loc[((df['zone'] == '992') & (df['souszone'] != 'a') & (df['souszone'] != 'x')), 'erreur_souszone'] = 1

In [33]:
# test de valeurs en $a
df.loc[((df['zone'] == '992') & (df['souszone'] == 'a'))]['valeur'].value_counts()

‬BAA BR 14473                   1
wccarchives                     1
528.9                           1
0.1 BARB                        1
‬BAA BR Q 7515                  1
‬BAA BR 14525                   1
ÏHR LBR 665                     1
0.1 BOHE                        1
'030 REY                        1
- 225/13                        1
ËT AF 1450                      1
ge/ulsa/d/08/176                1
0. 674 AASA                     1
-                               1
‬BAA BR 14622                   1
‬BAA Q 543/1-2                  1
‬BAA Q 693                      1
القاهرة                         1
‬BAA 1375                       1
y-                              1
wcc DM2001/10                   1
‬BAA BR Q 7634                  1
x                               1
----                            1
‬BAA BR 14743                   1
‬BAA BR 14417                   1
0.1 AVEN                        1
...                             1
‬BAA 1738                       1
---                             1
/BGE Btm 14842                  1
àa BGE Sg 2251                  1
‬BAA Q 847                      1
شعراء الرابطة القلمية           1
‬DBUH 729                       1
حب الالهي في التصوف الاسلامي    1
/2013/263298.1                  1
‬‬159.955 (07) GOL.3            1
v                               1
/BGE Ib 4622                    1
0.1 BALL                        1
--                              1
Name: valeur, dtype: int64

In [34]:
# Valeurs admis en $a (cote) : chiffres, lettres et un seul tiret
df.loc[((df['zone'] == '992') & (df['souszone'] == 'a')), 'erreur_valeur'] = 1
df.loc[((df['zone'] == '992') & (df['souszone'] == 'a') & (df['valeur'].str.contains('^[0-9A-Za-z \-]+$', regex=True))), 'erreur_valeur'] = 0

In [35]:
# calculer erreur total
df_errors = df.loc[(df['erreur_i1'] == 1) | (df['erreur_i2'] == 1) | (df['erreur_souszone'] == 1) | (df['erreur_valeur'] == 1)]
df_errors

,zoneorig,souszone,valeur,occurences,zone,indicateur1,indicateur2,erreur_i1,erreur_i2,erreur_souszone,erreur_valeur
1,902,0,NaN,NaN,902,,,0,0,1,0
2,902,0,2,1.0,902,,,0,0,1,0
3,902,0,6,1.0,902,,,0,0,1,0
4,902,1,6,1.0,902,,,0,0,1,0
5,902,1,4,1.0,902,,,0,0,1,0
6,902,1,55,1.0,902,,,0,0,1,0
7,902,1,998/03,1.0,902,,,0,0,1,0
8,902,1,998/07,1.0,902,,,0,0,1,0
9,902,1,998/10,1.0,902,,,0,0,1,0
10,902,1,999/09,1.0,902,,,0,0,1,0
11,902,2,999/09,1.0,902,,,0,0,1,0
12,902,2,004/04,1.0,902,,,0,0,1,0
13,902,2,006/01,1.0,902,,,0,0,1,0
14,902,2,006/11,2.0,902,,,0,0,1,0
15,902,2,007/02,1.0,902,,,0,0,1,0
16,902,2,007/10,1.0,902,,,0,0,1,0
17,902,2,fondsdubois,479.0,902,,,0,0,1,0
18,902,2,fondsduboisd,1.0,902,,,0,0,1,0
19,902,2,fondsdunand,197.0,902,,,0,0,1,0
20,902,2,fondskasser,240.0,902,,,0,0,1,0
21,902,2,fondslivelihood,140.0,902,,,0,0,1,0
22,902,2,fondsrappard,23.0,902,,,0,0,1,0
23,902,2,fondssouvarine,3563.0,902,,,0,0,1,0
24,902,2,ss,1.0,902,,,0,0,1,0
25,902,2,t020,1.0,902,,,0,0,1,0
26,902,2,t120,1.0,902,,,0,0,1,0
27,902,2,thème,2.0,902,,,0,0,1,0
28,902,2,x,3.0,902,,,0,0,1,0
29,902,2,xx,3.0,902,,,0,0,1,0
30,902,2,§,1.0,902,,,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
812,992,p,BOTA 268,1.0,992,,,0,0,1,0
813,992,p,BOTA 2903,1.0,992,,,0,0,1,0
814,992,p,BOTA 3068,1.0,992,,,0,0,1,0
815,992,p,BOTA 3075,1.0,992,,,0,0,1,0
816,992,p,BOTA 3229,1.0,992,,,0,0,1,0
817,992,p,BOTA 3244,1.0,992,,,0,0,1,0
818,992,p,BOTA 3757/4(10A-10B),1.0,992,,,0,0,1,0
819,992,p,BOTA 376,1.0,992,,,0,0,1,0
820,992,p,BOTA 3855,1.0,992,,,0,0,1,0
821,992,p,BOTA 42,1.0,992,,,0,0,1,0
822,992,p,BOTA 4267,1.0,992,,,0,0,1,0
823,992,p,BOTA 4409,1.0,992,,,0,0,1,0
824,992,p,BOTA 4634,1.0,992,,,0,0,1,0
825,992,p,SESB 1950,1.0,992,,,0,0,1,0
826,992,p,SESB 3346,1.0,992,,,0,0,1,0
827,992,p,SESP 774,1.0,992,,,0,0,1,0
828,992,q,SESP 774,1.0,992,,,0,0,1,0
829,992,q,ge-vmhn,1.0,992,,,0,0,1,0
830,992,t,ge-vmhn,1.0,992,,,0,0,1,0
831,992,t,0308,3.0,992,,,0,0,1,0
832,992,t,0401,402.0,992,,,0,0,1,0
833,992,t,0502,5.0,992,,,0,0,1,0
834,992,t,gt4,1.0,992,,,0,0,1,0
835,992,t,n2,5.0,992,,,0,0,1,0
836,992,t,nex,205.0,992,,,0,0,1,0
837,992,t,nv,261.0,992,,,0,0,1,0
838,992,v,nv,261.0,992,,,0,0,1,0
839,992,v,45,1.0,992,,,0,0,1,0
998,992,z,‬,1.0,992,,,0,0,1,0
999,992,z,2,3.0,992,,,0,0,1,0

In [36]:
# exporter en csv
df_errors[['zone', 'indicateur1', 'indicateur2', 'souszone', 'valeur', 'occurences', 'erreur_i1', 'erreur_i2', 'erreur_souszone', 'erreur_valeur']].to_csv('sample_erreurs.txt', sep='\t', encoding='utf-8', index=False)

In [37]:
# nmbre d'erreurs
df_errors[['erreur_i1', 'erreur_i2', 'erreur_souszone', 'erreur_valeur']].sum()

erreur_i1           11
erreur_i2            4
erreur_souszone    541
erreur_valeur      156
dtype: int64

In [38]:
# erreurs repartis par zone
df_errors['zone'].value_counts()

982    399
992    148
902    118
932     41
Name: zone, dtype: int64